{% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-4" style="margin-top: -60px;">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Enter Router details to create:</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" action="/create_router" id="create_router">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-4"><label>
                                        Sap Id
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id="sapid" placeholder="Enter sapid" name="sapid" type="text" autocomplete="off"/>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><label>
                                        Loopback
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id="Loopback" placeholder="Enter Loopback" name="Loopback" type="text" autocomplete="off"/>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><label>
                                        hostname
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id = "hostname" placeholder="Enter hostname" name="hostname" type="text" autocomplete="off"/>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><label>
                                        routertype
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id = "routertype" placeholder="Enter routertype" name="routertype" type="text" autocomplete="off"/>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><label>
                                        macaddress
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id = "macaddress" placeholder="Enter macaddress" name="macaddress" type="text" autocomplete="off"/>
                                        </div>
                                    </div>
                                  </div>
<!-- Button trigger modal -->
<button type="submit" class="btn btn-primary" style="margin-left: 200px;">
    Create
  </button>
                                <br/>
                                
                                <p style="color: green;">{{ msg }}
                                </p>
                                <input type="hidden" id="hid_sapid" name="hid_sapid"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}